body{
    font-family:'Montserrat';
} 
p{
    color: #8f8f8f;
    font-size: 1.2rem;
}

/* sections */

.white-section{
    background-color: #fff;
    color: #000;
}
.coloured-section{
    background-color: #ff4c68;
    color: #fff;
}
/* navbar */

.navbar-brand{
    font-family: 'ubuntu';
    font-size: 3rem;
    font-weight: bold;
}
.navbar{
    padding:0 0 4.5rem;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.3rem;
    font-weight: 400;
}

/* title */

.container-fluid{
    padding: 5% 8% 7% 8%;
}
.download-button{
    margin: 5% 3% 5% 3%;
    color: #fff;
}
#title{
    text-align: left;
}
.title-heading{ 
    font-size: 4rem;
    line-height: 1.5;
    font-weight: 900; 
}
.title-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    transform: rotate(25deg);
}

.navbar-toggler-icon{
    width: 5rem;
    height: 5rem;
}
/* testimonial */

#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: white;
    padding-top: 2%;

}
.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
    font-weight:700;
}
.testimonial-image{
    border-radius: 100%;
    width: 10%;
    margin: 3%;
}

/* press */

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 7% ;
}
.press-img{
    width: 17%;
    margin: 4% 1% 1% 2%;
}
.carousel-item{
    padding: 7% 10%;
}

/* pricing  */

#pricing{
    text-align: center;
    padding: 100px;
}
.Pricing-text{
    font-size: 3rem;
    font-weight: 700;
}
.row-pricing{
    padding: 4% 2% 0 2%;
}
.card-title{
    font-size: 2rem;
    font-weight: 700;

}

/* features */

#features{
    padding: 7% 8%;
}
.feature-title{
    font-size: 2.2rem;
    font-weight: 900;
}
.feature-box{
    text-align: center;
    padding: 5%;
}
.feature-icon{
    color: #ef8172;
    padding-bottom: 1rem;
}
.feature-icon:hover{
    color: #ff4c68;
}

/* call to action */

#cta{
    text-align: center;
    padding: 7% 8%;
}
.cta-text{
    font-size: 3rem;
    font-weight: 700; 
    padding: 5% 0 0 0;
}

/* footer */

#footer{
    text-align: center;
    padding: 7% 8%;
}
.footer-text{
    color: #727171;
}
.fa-footer{
    padding: 0 1% 1% 1%;
}

@media (max-width: 1028px) {
    #title {
        text-align: center;
    }
    .title-image{
        position:static;
        transform: rotate(0);
        width: 50%;
        text-align: center;
    }
    .title-heading{
        font-size: 5rem ;
    }
    .nav-link{
        font-size: 2rem;
        font-weight: 400;
        text-align: left;
    }
    .navbar-brand{
        font-size: 3.5rem;
        font-family: 'ubuntu';
    }
    p{
        color: #5f5e5e;
        font-size: 1.5rem;
    }
}
